[submodule "library/src/main/jni/pngquant"]
	path = library/src/main/jni/pngquant
	url = https://github.com/pornel/pngquant.git
[submodule "library/src/main/jni/libpng-android"]
	path = library/src/main/jni/libpng-android
	url = https://github.com/julienr/libpng-android.git
