#[submodule "pngquant-android/src/main/jni/pngquant-android"]
#	path = pngquant-android/src/main/jni/pngquant-android
#	url = https://github.com/wrmndfzzy/pngquant-android.git

#[submodule "pngquant-android/src/main/jni/libpng-android"]
#	path = pngquant-android/src/main/jni/libpng-android
#	url = https://github.com/julienr/libpng-android.git
#[submodule "pngquant-android/src/main/jni/pngquant"]
#	path = pngquant-android/src/main/jni/pngquant
#	url = https://github.com/pornel/pngquant.git
