[submodule "library/submodules/pngquant-android"]
	path = library/submodules/pngquant-android
	url = https://github.com/android-native-libraries/pngquant-android.git
[submodule "library/src/main/jni/pngquant"]
	path = library/src/main/jni/pngquant
	url = https://github.com/pornel/pngquant.git
[submodule "library/src/main/jni/libpng-android"]
	path = library/src/main/jni/libpng-android
	url = https://github.com/julienr/libpng-android.git
